body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

nav {
  border: 1px solid blue;
  /* height: 100vh; */
  width: 30vw;
  flex-wrap: wrap;
  display: flex;
  position: relative;
}

.fix {
  position: fixed;
  min-height: 80vw;
  margin: 5px;
  margin-right: 70%;
}

main {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

section {
  flex-wrap: wrap;
  display: flex;
}

footer {
  flex-wrap: wrap;
  border: 1px solid black;
  display: flex;
}

div {
  margin: 5px;
  padding: 10px;
}
